# comment test
# reference: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# glob patterns reference: https://www.baeldung.com/linux/bash-globbing
/conduit @irsacbibit
